<script lang="ts">

import Home from "./components/Home.svelte";
import Lobby from "./components/Lobby.svelte";
import {appNavigator} from "./app/AppNavigator";
import {appBackend} from "./app/AppBackend";


	//let appPromise = AppBackend.create("http://localhost:8080");

	let navigate = appNavigator;
	appNavigator.onChange(()=> navigate = navigate);
</script>
<style>
	a {
		cursor: pointer;
	}
	a:hover{
		text-decoration: none;
	}
</style>
<main>
	{#if navigate.isReady()}
		<div class="tabs tabs-boxed">
			<a class="tab {navigate.isHome()?'tab-active':''}" href="#home" on:click={()=> navigate.home()}>Home</a>
			<a class="tab {navigate.isLobby()?'tab-active':''}" href="#lobby" on:click={()=> navigate.lobby()}>Lobby</a>
			{#if appBackend.game.isAuthenticated()}
				<a class="tab {navigate.isLobby()?'tab-active':''}" href="#game" on:click={()=> navigate.playing()}>Game</a>
			{/if}
		</div>
		{#if navigate.isHome()}
			<Home></Home>
		{:else if navigate.isLobby()}
			<Lobby></Lobby>
		{:else}
			Route Not Found
		{/if}
	{:else}
		Loading App ...
	{/if}
</main>